@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    /* body colors  */

    --color-green-primary: #4CAF4F;
    --color-green-secondary: #347436;
    --color-white-primary: #ffffff;
    --color-white-secondary: #F5F7FA;

    /* colors for navigation bar */

    --color-nav-brand: #263238;
    --color-nav-link: #18191F;

    /* hero section  */

    --color-primary-heading: #4D4D4D;
    --color-primary-text: #717171;
    --color-secondary-text: #89939E;

    /* footer  */

    --color-footer-bg: #263238;

    /* width  */
    --container-xs-width: 95%;
    --container-sm-width: 95%;
    --container-md-width: 95%;
    --container-lg-width: 90%;

    /* font-weight  */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font-size */
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-28: 1.75rem;
    --fs-36: 2.25rem;
    --fs-64: 4rem;

    /* padding and margin for btns  */
    --btn-padding: 0.575rem 1.3rem;
    --btn-md-padding: 0.775rem 1.7rem;

}

*,*::after,*::before{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-14);
  background-color: var(--color-white-secondary);
}

.container {
  width: var(--container-width);
}

/* hero container  */
/* 
.hero-info {
  width: 55%;
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.hero-img {
  width: 35%;
  margin-top: 7rem !important;
  margin-bottom: 7rem !important;
}

.hero-heading-black {
  font-size: var(--fs-64);
  color: var(--color-primary-heading);
}

.hero-heading-green {
  font-size: var(--fs-64);
  color: var(--color-green-primary); 
}

.carousel-control-prev, 
.carousel-control-next {
  width: 5%;
}

.carousel-icon {
  background-image: none;
}

.modified-indicators {
  border-radius: 50%;
  width: 0.5rem !important;
  height: 0.5rem !important;
  background-color: var(--color-green-primary) !important;
}

.hero-paragraph {
  margin-top: 1rem;
  color: var(--color-primary-text);
}

.hero-btn {
  padding: var(--btn-padding);
  border: none;
  background-color: var(--color-green-primary);
  color: var(--color-white-secondary);
  margin-top: 1.5rem;
}

.hero-btn:hover {
  background-color: var(--color-green-secondary);
}

@media  only screen and (max-width: 992px){
  .hero {
    position: relative;
  }
  .hero-heading-black,
  .hero-heading-green
   {
    font-size: var(--fs-28);
  }

  .hero-info {
    width: 100%;
    margin-top: 5rem !important;
    margin-bottom: 4rem !important;
  }
  
  .hero-img {
    position: absolute;
    top: rem;
    margin-top: 0rem !important;
    margin-bottom: 5rem !important;
    opacity: 0.3;
  }
} */

.navbar-brand {
  font-size: var(--fs-20) !important;
}

@media only screen and (min-width: 768px){

  body {
    font-size: var(--fs-16);
  }

  /* navigation bar styles for min-width md  */

  .navbar {
    font-size: var(--fs-16);
  }
  .navbar-brand {
    font-size: var(--fs-28) !important;
  }
}
