@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root{
    /* body colors  */

    --color-green-primary: #4CAF4F;
    --color-green-secondary: #347436;
    --color-white-primary: #ffffff;
    --color-white-secondary: #F5F7FA;
    --color-newsletter-bg: #515B60;

    /* colors for navigation bar */

    --color-nav-brand: #263238;
    --color-nav-link: #18191F;

    /* hero section  */

    --color-heading-primary: #4D4D4D;
    --color-text-primary: #717171;
    --color-text-secondary: #89939E;

    /* footer  */

    --color-footer-bg: #263238;

    /* shadow-colors  */
    --color-shadow-primary: rgba(0, 0, 0, 0.371);
    --color-shadow-secondary: rgba(0, 0, 0, 0.113);

    /* width  */
    --container-xs-width: 95%;
    --container-sm-width: 95%;
    --container-md-width: 95%;
    --container-lg-width: 90%;

    /* font-weight  */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font-size */
    --fs-10: 0.625rem;
    --fs-12: 0.75rem;
    --fs-14: 0.875rem;
    --fs-16: 1rem;
    --fs-20: 1.25rem;
    --fs-24: 1.5rem;
    --fs-28: 1.75rem;
    --fs-36: 2.25rem;
    --fs-64: 4rem;

    /* padding and margin for btns  */
    --btn-padding: 0.575rem 1.3rem;
    --btn-md-padding: 0.775rem 1.7rem;
    
}

*,*::after,*::before{
  box-sizing: border-box;
}

/*! mobo  */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: var(--fw-regular);
  font-size: var(--fs-10);
  background-color: var(--color-white-secondary);
  height: 100vh;
}

/* navbar mobo */
.navbar-brand {
  font-size: var(--fs-20) !important;
}

/* hero section mobo  */

.hero-info {
  font-size: var(--fs-12);
}

.hero-heading-black {
  color: var(--color-heading-primary);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.254);
  font-size: var(--fs-28);
}
.hero-heading-green {
  color: var(--color-green-primary);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2543);
  font-size: var(--fs-28)
}

.inner-content {
  position: relative;
  margin-bottom: 9rem;
}

.hero-img {
  position: absolute;
  top: 1rem;
  opacity: 0.2;
  z-index: -1;
}

.hero-paragraph {
  color: var(--color-text-primary);
}

.modified-indicators {
  border-radius: 50%;
  width: 0.5rem !important;
  height: 0.5rem !important;
  background-color: var(--color-green-primary) !important;
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}


/* infinite-logo scroller  */

.logo-slider {
  background-color: var(--color-white-primary);
  padding: 2rem 0rem;
  text-align: center;

}

.logo-container {
  background-color: var(--color-white-primary);
  margin: 0 auto;
  width: 80%;
}

.logo-slider-heading {
  font-size: var(--fs-20);
  color: var(--color-text-primary);
}

.logo-slider-paragraph {
  color: var(--color-text-secondary);
  margin-top: 1rem;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  padding-top: 0;
  list-style: none;
  background-color: var(--color-white-primary);
}

.tag-list li {
  background-color: var(--color-white-primary);
  padding: 0.5rem;
}

/* .drop-shadow {
  filter: drop-shadow(5px 5px 10px  var(--color-shadow-primary));
} */

.item {
  /* background-color: red !important; */
}

.scroller {
  max-width: 330px;
  margin: 0 au8o;
}

.scroller__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-block: 1rem;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
      transparent, 
      white 40%,
      white 80%,
      transparent
    );

    mask: linear-gradient(
      90deg,
      transparent, 
      white 40%,
      white 80%,
      transparent
    );
    
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 50s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(-52% );
  }
}


.img-w-h-xs {
  width: 25px;
  height: 20px;
}


/* ^ feature  */

.feature {
  padding: 2rem 0;
  background-color: var(--color-white-primary);
}

.feature-container {
  width: 80%;
  /* margin: 0 auto; */
}

.feature-header {
  font-size: var(--fs-20) ;
  color: var(--color-heading-primary);
}

.feature-paragraph {
  color: var(--color-text-primary);
  margin-bottom: 2rem;
}

.feature-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-icons {
  width: 40px;
}

.card {
  padding: 1.5rem 0rem;
  box-shadow: 3px 3px 10px var(--color-shadow-secondary);
  width: 70% !important;
}

.card:hover {
  box-shadow: 5px 5px 15px var(--color-shadow-primary);
}

.card-title {
  font-size: var(--fs-14);
}


/* about-section  */

.about-us {
  background-color: var(--color-white-primary);
  padding: 2rem 0;
}

.about-us-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-us-img {
  width: 70%;
  margin-left: -2rem;
}

.about-us-heading {
  font-size: var(--fs-20);
  color: var(--color-heading-primary);
  width: 90%;
}

.about-us-paragraph {
  color: var(--color-text-primary);
}

.about-us-btn {
  margin-top: 0.5rem;
}


/*^ client-showcase */

.client-showcase {
  background-color: var(--color-white-secondary);
  padding: 2rem 0;
}

.client-showcase-container {
  width: 80%;
  margin: 0 auto;
}

.client-showcase-img {
  width: 50%;
  margin-left: -0.3rem;
}

.client-showcase-info {
  padding-block: 1rem;
  color: var(--color-text-primary);
  
}

.client-showcase-info-title {
  font-size: var(--fs-14);
  color: var(--color-green-primary);
}

.client-showcase-info-subtitle {
  font-size: var(--fs-10);
  color: var(--color-text-secondary);
}

.client-logos {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1;
  justify-content: space-between;
}

.more-client-link {
  text-decoration: none; 
  /* color: inherit;  */
  cursor: pointer;
  color: var(--color-green-primary);
}

.more-client-link:hover {
  color: var(--color-green-secondary);
}

/* product showcase  */

.product-showcase {
  padding: 2rem 0;
  background-color: var(--color-white-primary);
}

.product-showcase-container {
  width: 80%;
  margin: 0 auto;
}

.product-showcase-info-heading {
  font-size: var(--fs-20);
  color: var(--color-heading-primary);
}

.product-showcase-info-paragraph {
  font-size: var(--fs-10);
  color: var(--color-heading-primary);
}

.product-card {
  position: relative;
  /* width: 80% !important; */
  margin: 0 auto 5rem;
}

.product-card-body {
  padding: 1rem;
  position: absolute;
  background-color: var(--color-white-primary);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.279);
  width: 220px;
  margin: 0 auto;

  top: 75%;
  left: 30px;
  text-align: center;
}

.product-card-title {
  font-size: var(--fs-14);
}

.product-card-paragraph {
  text-decoration: none;
  color: var(--color-green-primary);
  font-size: var(--fs-14);
}

/* cta section  */

.cta {
  padding: 2rem 0;
  text-align: center;
}

.cta-container {
  width: 80%;
  margin: 0 auto;
}

.cta-heading {
  color: var(--color-text-primary);
  font-size: var(--fs-20);
  margin-bottom: 1rem;
}

.cta-btn {
  font-size: var(--fs-16);
}

/*^ footer section  */

.footer {
  flex-direction: column;
  padding: 2rem 0;
  background-color: var(--color-footer-bg);
  color: var(--color-white-primary);
  font-size: var(--fs-10);
}

.copyright-list, 
.help-list {
  list-style: none;
  padding: 0;
}

.footer-brand-logo {
  font-size: var(--fs-14);
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  color: var(--color-white-secondary) !important;
}

.copyright-list {
  width: 50%;
  /* margin: 0 auto; */
  font-size: 0.875rem;
  display: flex;
  justify-content: space-between;
}

.copyright {
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
}
.help {
  margin-bottom: 2.5rem;
}

.copyright-text {
  margin-block: 1rem;
}

.footer-logo-img {
  width: 25px;
}

.help {
  width: 80%;
  margin: 0 auto 1.5rem;
  justify-content: space-between;
}

.newsletter {
  /* text-align: center; */
  margin: 0 auto 1.5rem;
  width: 80%;
}
.newsletter-mail {
  background-color: var(--color-newsletter-bg);
  width: 170px;
  padding: 0.55rem 0rem 0.55rem 0.5rem;
}
.newsletter-mail-input {
  background-color: inherit;
  color: var(--color-white-primary);
  outline: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 140px;
}

.newsletter-mail-input::placeholder {
  color: var(--color-white-primary);
}







/* ^ large screen  */

@media only screen and (min-width: 768px){

  body {
    font-size: var(--fs-16);
  }

  /* navigation bar styles for min-width md  */

  .navbar {
    font-size: var(--fs-16);
  }
  .navbar-brand {
    font-size: var(--fs-28) !important;
  }

  /* hero-section  */
  
  .common-container {
    display: flex;
    justify-content: space-between;
  }

  .inner-content{
    margin: 5rem 10rem !important;
  }

  .hero-info {
    font-size: var(--fs-16);
    position: static;
    width: 55%;
  }

  .hero-heading-black,
  .hero-heading-green{
    font-size: var(--fs-64);
  }
  
  .hero-img {
    position: static;
    opacity: 1;
    z-index: 1;
    width: 35%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display: flex;
    width: 5%;
  }

  /* infinite-logo scroller  */

  .scroller {
    max-width: 950px;
    margin: 0 auto;
  }
}
